<%= render partial: "shared/header" %>

<div class="signin">
<div class="signin-heading">
  <h4>Log in</h4>
</div>
<div class="signin-body">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">

    <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field signin-options">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <a href="#">Reset Password</a>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :id => 'js-login-submit' %>
  </div>
<% end %>

<div class="bottom-link">
<p>Don't have a StarBnB Account?</p>
  <button class="pull-right">Sign Up</button>
</div>

</div>

</div>












