<!DOCTYPE html>
<html>
  <head>
    <title>Walkthrough</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/assets/application/modernizr-custom.js"></script>
  </head>

  <body>
  	<header>
  		<h2>Rails on Rails</h2>
  	</header>

  	 <div class="bnb col-md-6"> 
    	<%= yield %>
     </div> 

    <div class="walkthrough col-md-6">
      

<div id="text-carousel" class="carousel slide hidden " data-ride="carousel">

    <div class="row">
        <div class="height-window col-xs-12">
            <div class="carousel-inner">
                
                
            </div>
        </div>
    </div>
    <!-- controls -->
     <a class="left carousel-control" id="left-control" href="#text-carousel" data-slide="prev">
    <%= image_tag("arrow.png") %>
  </a>
 <a class="right carousel-control" id="right-control" href="#text-carousel" data-slide="next">
    <%= image_tag("arrow.png") %>
  </a>
</div>



    </div>

<!-- Crazy Javascript Stuff -->

  </body>

</html>
