<!DOCTYPE html>
<html>
  <head>
    <title>Rails on Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/assets/application/modernizr-custom.js"></script>
  </head>

  <body>
  	<header>
  		<h2>Rails on Rails</h2>
  	</header>

  	 <div class="bnb col-md-6"> 
     <% if user_signed_in? %> 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
     <% end %> 
    	<%= yield %>
     </div> 

    <div class= "walkthrough col-md-6">
      

<div id="walkthrough-carousel" class="carousel slide" data-ride="carousel">

    <div class="row">
        <div class="height-window col-xs-12">
            <div class="carousel-inner" id="carousel-content">

              <%= yield :walkthrough %>
        </div>
    </div>
    <!-- controls -->
     <a class="left carousel-control hidden" id="left-control" href="#walkthrough-carousel" data-slide="prev">
    <%= image_tag("arrow.png") %>
  </a>
 <a class="right carousel-control hidden" id="right-control" href="#walkthrough-carousel" data-slide="next">
    <%= image_tag("arrow.png") %>
  </a>
</div>



    </div>


<!-- Crazy Javascript Stuff -->

  </body>

</html>
